<% include partials/header %>

<main>
    <div class="parallax-container">
        <div class="parallax">
            <img src="/img/main-bg.jpg" alt="Main Picture"/>
        </div>
        <div class="bg-overlay">
            <div class="main-title">
                <h1>Welcome to YelpCamp</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eum qui fuga vel corporis, esse ad ducimus enim ea consectetur.</p>
                <a href="#" class="btn waves-effect waves-dark teal darken-3">See more</a>
            </div>
        </div>
    </div>
</main>

<% include partials/footer %>
