/* General Styles */

@font-face {
    font-family: 'cubano';
    src: url('../fonts/cubano/cubano-regular-webfont.eot');
    src: url('../fonts/cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cubano/cubano-regular-webfont.woff2') format('woff2'),
         url('../fonts/cubano/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/cubano/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/cubano/cubano-regular-webfont.svg#cubanonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-design-icons/Material-Design-Icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('Material-Design-Icons'),
       url(../fonts/material-design-icons/Material-Design-Icons.woff2) format('woff2'),
       url(../fonts/material-design-icons/Material-Design-Icons.woff) format('woff'),
       url(../fonts/material-design-icons/Material-Design-Icons.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

body {
  min-height: 100vh;
}


nav {
    background-color: #212121;
}

img {
  max-width: 100%;
}

.navbar-fixed {
    z-index: 10000000;
}

.card {
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.card-form {
    max-width: 100%;
}

.form-title {
    font-size: 3em;
    font-weight: bolder;
}

nav .button-collapse i{
  font-size: 2rem;
}

.parallax-container {
    height: calc(100vh - 64px);
    z-index: 10;
}

.parallax-container img {
    max-width: none;
    width: 100%;
    min-width: 1500px;
}

.section-title {
  text-align: center;
}

.picture-profile {
    width: 45px;
    height: 45px;
    margin-top: 9px;
    margin-right: 10px;
    float: left;
    border-radius: 50%;
}

/* label color */
.input-field label {
 color: #00bcd4;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=email]:focus + label {
 color: #00bcd4;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus,
.input-field input[type=email]:focus {
 border-bottom: 1px solid #00bcd4;
 box-shadow: 0 1px 0 0 #00bcd4;
}

textarea.materialize-textarea {
 border-bottom: 1px solid #00bcd4;
 box-shadow: 0 1px 0 0 #00bcd4;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

/*
* ==============================
* USER INFO IN NAVBAR ==========
* ==============================
*/

#user-container,
.bg-overlay-info {
  width: 100%;
  height: 220px;
  position: relative;
  background-image: url('../img/img-product2.jpg');
}

#user-container img {
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
}

#user-container h6 {
  position: relative;
  top: 75%;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bolder;
}

.bg-overlay-info {
  background-color: rgba(0, 0, 0, 0.6);
}


/*
* ====================
* HOME PAGE ==========
* ====================
*/

/* ====================
HEADER
==================== */

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: calc(100vh - 64px);
    position: relative;
}

.main-title {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: calc(-25vh + 64px);
    padding: 10px;
}

.main-title h1{
    font-family: 'cubano', 'Roboto';
    font-size: 3.2em;
    margin: 0;
}

/*
* ==========================
* CAMPGROUND PAGE ==========
* ==========================
*/

#campground-parallax.parallax-container {
    height: 300px;
}

#campground-parallax .bg-overlay {
    height: 300px;
    padding-top: 80px;
    text-align: center;
}

#campground-parallax .main-title {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
}

#campground-parallax .main-title h1 {
   margin-bottom: 20px;
}

.card-image {
  position: relative;
}

.card-bg-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
}

.card .card-action {
  padding: 10px;
}

/*
* ===============================
* CAMPGROUND SHOW PAGE ==========
* ===============================
*/

#camp-author {
    color: #263238;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}

#description-text {
    margin-top: 35px;
}

#description-card {
  margin-bottom: 50px;
}

#description-title {
    font-size: 2rem;
    text-align: center;
    margin: 0px;
}

#newCommentBtn {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.btn-control {
    margin-top: 10px;
    display: inline-block;
}

.without-margin {
  margin: 0;
}

.card-comment .chip {
  margin-bottom: 10px;
}

.chip-price {
    position: absolute;     
    background-color: #8bc34a;
    margin-left: 15px;
    padding-bottom: 10px;
    top: 20px;
    right: 10px;
    color: #1b5e20;
}

.comment-date-counter {
  float: right;
}

#description-card.card .card-content p,
.card-content .comment-text p {
  margin: 15px 0;
}

@media (min-width: 425px) {
    .main-title {
        left: 50px;
        width: 80%;
    }

    .main-title h1 {
        font-size: 3rem;
    }

    .chip-price {
        padding: 0 30px;
        height: 40px;
        line-height: 40px;
    }

    #newCommentBtn {
        width: 57%;
    }
}

@media (min-width: 560px) {
    .card-form {
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .main-title {
        left: 50px;
        width: 55%;
    }

    .main-title h1 {
        font-size: 4.8rem;
    }

    #description-title {
        font-size: 2.8rem;
    }

    #camp-author {
        font-size: 1.3rem;
    }

}

@media (min-width: 900px) {

    .card-form {
        max-width: 50%;
    }

    .main-title {
        left: 50px;
        width: 60%;
        margin-top: -25vh;
    }

    .main-title h1 {
        font-size: 6rem;
    }

    .main-title p {
        font-size: 1.5rem;
    }

    #newCommentBtn {
        width: 45%;
    }

}