/* General Styles */

@font-face {
    font-family: 'cubano';
    src: url('../fonts/cubano/cubano-regular-webfont.eot');
    src: url('../fonts/cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cubano/cubano-regular-webfont.woff2') format('woff2'),
         url('../fonts/cubano/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/cubano/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/cubano/cubano-regular-webfont.svg#cubanonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-design-icons/Material-Design-Icons.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('Material-Design-Icons'),
       url(../fonts/material-design-icons/Material-Design-Icons.woff2) format('woff2'),
       url(../fonts/material-design-icons/Material-Design-Icons.woff) format('woff'),
       url(../fonts/material-design-icons/Material-Design-Icons.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

nav {
    background-color: #263238;
}

nav i {
    font-size: 1rem!important;
}

.card {
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.parallax-container {
    height: 550px;
}

.parallax-container img {
    width: 1200px;
}

.section-title {
  text-align: center;
}

/*
* ====================
* HOME PAGE ==========
* ====================
*/

/* ====================
HEADER
==================== */

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 550px;
    position: relative;
}

.main-title {
    width: 40%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -12%;
    padding-right: 50px;
}

.main-title h1{
    font-family: 'cubano', 'Roboto';
    font-size: 4.5em;
    margin: 0;
}

/*
* ==========================
* CAMPGROUND PAGE ==========
* ==========================
*/

#campground-parallax.parallax-container {
    height: 300px;
}

#campground-parallax .bg-overlay {
    height: 300px;
    padding-top: 80px;
    text-align: center;
}

#campground-parallax .main-title {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
}

#campground-parallax .main-title h1 {
   margin-bottom: 20px;
}

/*
* ===================================
* NEW CAMPGROUND FORM PAGE ==========
* ===================================
*/

#newCampgroundSection {
  background-color: #eeeeee;
}

#newCampgroundForm {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
