<% include ../partials/header %>


<div class="parallax-container" id="campground-parallax">
    <div class="parallax">
        <img src="/img/forest-banner.jpg" alt="Forest Picture"/>
    </div>
    <div class="bg-overlay">
        <div class="main-title">
            <h1>Campgrounds</h1>
            <a href="/campgrounds/new" class="btn waves-effect waves-dark teal darken-3">Add new Campground</a>
        </div>
    </div>
</div>
<div class="section" id="campgrounds-section">
    <div class="container">
        <div class="row">
            <% campgrounds.forEach(function(camp){ %>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= camp.image %>" alt="Imagen"/>
                            <div class="card-bg-overlay">
                                <span class="card-title"><%= camp.name %></span>
                            </div>
                        </div>
                        <div class="card-content">
                            <p><%- camp.description.substring(0, 100) %>...</p>
                        </div>
                        <div class="card-action">
                            <a href="campgrounds/<%= camp._id %>" class="waves-effect waves-ligth btn-flat grey-text text-darken-4">See more</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>
