<% include ../partials/header %>

<div class="section" id="newCampgroundSection">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section-title">
					<h1 class="white-text">Create a new Campground!</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="section-content">
					<form action="/campgrounds" method="post" id="newCampgroundForm" class="card">
					    <div class="card-content">
					    	<div class="input-field col s12">
					    		<input type="text" name="camp[name]" id="name" />
					    		<label for="name">Last Name</label>
					    	</div>
					    	<div class="input-field col s12">
					    		<input type="text" name="camp[image]" id="picture" />
					    		<label for="picture">Picture</label>
					    	</div>
					    	<div class="input-field col s12">
					    		<textarea name="camp[description]" id="desc" class="materialize-textarea"></textarea>
					    		<label for="desc">Description</label>
					    	</div>
					    	<button type="submit" class="btn waves-effect waves-dark teal darken-3" id="btnSubmitForm">Send</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
